*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    height: 100vh;
}
.first_body{
    background-color: #101218 !important;
padding-bottom: 173px;
width: 100%;
    
}
img{
    border-radius: 50%;
    width: 30px;
    height: auto;
    
    display: inline-block;
    vertical-align: middle;
}
ul{
    display: flex;
    justify-content: right;
    align-items: center;
    
    
}
li{
    margin: 0px 10px 0px 10px;
    list-style: none;
    display: inline-block;
    
}
a{
    color: white;
    text-decoration: none;
    line-height: 3.5;
    
}
.travis:hover{
    text-decoration: underline;
}
nav{
    background-color: #101218;
    padding-top: 5px;
}
.bomb{
    padding: 10px;
}
.bomb:hover{
    outline: 1px solid #101218 ;
border-radius: 50%;
background-color: #272b38;

}
.image2{
    width: 253px;
    height: auto;
    display: block;
    margin: -77px auto;
}
#search{
    width: 591px;
    background: #494c57;
    height: 40px;
    border-radius: 25px;
}
.searchbar{
    display: flex;
    justify-content: center;
    
    position: relative;
}
.bale{
    position: absolute;
    color: #1d1f28;
}
.fa-magnifying-glass{
    top: 14px;
    left: 11px;
}
.fa-microphone{
    top: 14px;
    left: 541px;
}
.fa-camera-retro{
    top: 14px;
    left: 565px;
}
.buttons{
    display: flex;
justify-content: center;
    margin-top: 18px;
}
.big{
    margin: 0px 33px 0px 37px;
    border-radius: 5px;
    color: white;
    background-color: #101218;
    padding: 10px 24px 10px 24px;
}
.info{
    display: flex;
    justify-content: center;
}
.text{
    color: white;
    margin-top: 20px;
}
.nepali{
    color: aqua;
    cursor: pointer;
}
.nepali:hover{
    text-decoration: underline;
}
.last_body{
   padding-bottom: 42px;
    background-color: black;
    color: white;
}
.final{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}
.nep{
    padding-bottom:20px;
    padding-top: 20px;
}
hr{
    border: none;
    border-top: 1px solid rgb(97, 95, 95);
}
.right{
    margin-left: 637px;
}
@media (max-width:1222px) {
    .final{
        flex-wrap: wrap-reverse;

    }
}