*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    height: 100vh;
}
.first_body{
    background-color: #101218 !important;
    
}
img{
    border-radius: 50%;
    width: 30px;
    height: auto;
    
    display: inline-block;
    vertical-align: middle;
}
ul{
    display: flex;
    justify-content: right;
    align-items: center;
    
    
}
li{
    margin: 0px 10px 0px 10px;
    list-style: none;
    display: inline-block;
    
}
a{
    color: white;
    text-decoration: none;
    line-height: 3.5;
    
}
.travis:hover{
    text-decoration: underline;
}
nav{
    background-color: #101218;
    padding-top: 5px;
}
.bomb{
    padding: 10px;
}
.bomb:hover{
    outline: 1px solid #101218 ;
border-radius: 50%;
background-color: #272b38;

}
.image2{
    width: 253px;
    height: auto;
    display: block;
    margin: -77px auto;
}
#search{
    width: 591px;
    background: #494c57;
    height: 40px;
    border-radius: 25px;
}
.searchbar{
    width: 100vh;
    margin: auto;
    position: relative;
}
.bale{
    position: absolute;
}
.fa-magnifying-glass{
    top: 14px;
    left: 11px;
}

