*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    height: 100%;
}
.first_body{
    background-color: #101218 !important;
}
img{
    border-radius: 50%;
    max-width: 30px;
    height: auto;
    
    display: inline-block;
    vertical-align: middle;
}
ul{
    display: flex;
    justify-content: right;
    align-items: center;
    
    
}
li{
    margin: 0px 10px 0px 10px;
    list-style: none;
    display: inline-block;
    
}
a{
    color: white;
    text-decoration: none;
    line-height: 3.5;
    
}
.travis:hover{
    text-decoration: underline;
}
nav{
    background-color: #101218;
    padding-top: 20px;
}
.bomb{
    padding: 10px;
}
.bomb:hover{
    outline: 1px solid #101218 ;
border-radius: 50%;
background-color: #272b38;


}